In [1]:
#Abbiamo una lista di liste:

mat = [[0, 1, 2, 3, 4], 
       [5, 6, 7, 8, 9], 
       [10, 11, 12, 13, 14]]

print(mat[2][3])



#Che tipo di struttura dati o matematica potrebbe rappresentare? MATRICE

13

In [2]:
#Importiamo il modulo math e proviamo a usare le funzioni .sin() .cos() .factorial()

import math
print(math.sin(90))
print(math.cos(180))
print(math.factorial(10))
print(math.pi)


help(math.sin)

0.8939966636005579
-0.5984600690578581
3628800
3.141592653589793
Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

In [4]:
#converte un angolo da radianti a gradi

math.degrees(math.pi)

180.0

In [5]:
help(math.degrees)

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

In [6]:
# L'azienda Object SpA 

import numpy as np
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
lst = np.array(lst)

print(lst)

print(lst.max())
print(lst.min())

vendite_mensili_maggiori = lst > 5000
lst[vendite_mensili_maggiori]
print(len(lst[vendite_mensili_maggiori]))

vendite_mensili_minori = lst < 3000
lst[vendite_mensili_minori]
print(len(lst[vendite_mensili_minori]))

print(lst.mean())

[2000 5500 7200 4320 1280 1900 2500 3900 6410 8150 7100 5350]
8150
1280
6
4
4634.166666666667

In [7]:
#Consideriamo il seguente dizionario:
import pandas as pd
fatturati_dict = {1997: 12_000, 
                  1998: 15_000, 
                  1999: 20_000, 
                  2000: 23_000, 
                  2001: 25_000, 
                  2002: 17_000, 
                  2003: 14_000, 
                  2004: 21_000}

fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000],
index=range(1997, 2005))

fatturati_dict[1997] 
fatturati_series[1997]
print(fatturati_series)

print(fatturati_dict[2002])
print(fatturati_series[2002])

type(fatturati_dict[1997])
type(fatturati_series[1997])

# la differenza sostanziale e che con la serie posso fare tutte le operazioni statistiche garfici filtri....

1997    12000
1998    15000
1999    20000
2000    23000
2001    25000
2002    17000
2003    14000
2004    21000
dtype: int64
17000
17000

numpy.int64

In [8]:
# L'azienda Object SpA ha un dataset
import numpy as np
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )

stipendi_radd = stipendi * 2
print(stipendi_radd)

for stipendio in stipendi:
    print(stipendio * 2)

[ 200  400  600  800 1000 1200 1400 1600 1800 2000]
200
400
600
800
1000
1200
1400
1600
1800
2000

In [9]:
lista_numeri = [10,45,56,2,15,85,78,20,66]
lista_numeri_Ordinata = sorted(lista_numeri,reverse = True)

if len(lista_numeri_Ordinata) <=3:
    print("Lista corta")
else:
    print(lista_numeri_Ordinata[:3])

[85, 78, 66]

In [10]:
#in input acquisisce una lista di numeri e un numero K
import numpy as np
lista = [10,45,56,2,15,85,78,20,66]
k = int(input("inserisci numero"))
lista = np.array(lista)
filtro = lista >= k
media=lista[filtro].mean()
if len(filtro)== 0:
    print("non ci sono numeri > di K")
else:
    print("la lista dei numeri >=",k,"è",media)

inserisci numero 30

la lista dei numeri >= 30 è 66.0

In [11]:
numeri = [6,8,10,3]
for numero in numeri:
    print(numero*"*")

******
********
**********
***

In [12]:
#Abbiamo una lista di codici fiscali:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]
lista_cf_nuova=[]
for cf in lista_cf:
    if "95" in cf:
        lista_cf_nuova.append(cf)
        
print(lista_cf_nuova)
for cf in lista_cf:
    print("nome",cf[0:3],"cognome",cf[3:6])

['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']
nome ABC cognome DEF
nome GHI cognome JKL
nome MNO cognome PQR
nome STU cognome VWX
nome XYZ cognome ABC
nome DEF cognome GHI

In [13]:
#Abbiamo tre liste della stessa lunghezza
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"] 
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]

for indice in range(len(studenti)):
    edizione=edizioni[indice]
    studente=studenti[indice]
    if edizione==1:
        print(studente)

Alex
Faith

In [14]:
#Abbiamo una lista di stringhe di prezzi in dollari
prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]
prezzi_dollari = []
for prezzo in prezzi:
    prezzo_dollari=prezzo.replace("€","$")
    prezzi_dollari.append(prezzo_dollari)
    
print(prezzi_dollari)

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

In [15]:
#Abbiamo una lista di studenti:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]
squadra1= studenti[0::2]
squadra2= studenti[1::2]
print("la prima squadra, è composta da",squadra1)
print("la prima squadra, è composta da",squadra2)

la prima squadra, è composta da ['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']
la prima squadra, è composta da ['Bob', 'Dan', 'Faith', 'Henry', 'John']

In [16]:
import numpy as np
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
precedenti = []
mese=1
for guadagno in guadagni:
    if len(precedenti)==0:
        print("Guadagno del Mese 1 è",guadagno)
    else:
        media_mesi_precedenti=np.mean(precedenti)
        if media_mesi_precedenti < guadagno:
            print("Guadagno del Mese",mese,"è",guadagno,"è la media è minore del guadagno")
        else:
            print("Guadagno del Mese",mese,"è",guadagno,"è la media è maggiore del del guadagno")
    precedenti.append(guadagno)
    mese+=1

Guadagno del Mese 1 è 100
Guadagno del Mese 2 è 90 è la media è maggiore del del guadagno
Guadagno del Mese 3 è 70 è la media è maggiore del del guadagno
Guadagno del Mese 4 è 40 è la media è maggiore del del guadagno
Guadagno del Mese 5 è 50 è la media è maggiore del del guadagno
Guadagno del Mese 6 è 80 è la media è minore del guadagno
Guadagno del Mese 7 è 90 è la media è minore del guadagno
Guadagno del Mese 8 è 120 è la media è minore del guadagno
Guadagno del Mese 9 è 80 è la media è maggiore del del guadagno
Guadagno del Mese 10 è 20 è la media è maggiore del del guadagno
Guadagno del Mese 11 è 50 è la media è maggiore del del guadagno
Guadagno del Mese 12 è 50 è la media è maggiore del del guadagno