In [11]:
# esercizio 2

studenti = 25
nuovi_studenti = 3
totale_studenti = studenti + nuovi_studenti
print(studenti)
print(nuovi_studenti)
print(totale_studenti)

25
3
28

In [13]:
# esercizio 3
scuola = "Epicode"
print(scuola)

Epicode

In [4]:
# esercizio 4
x = 10
x = x + 2
x = x * 3
print(x)

36

In [27]:
# esercizio 5
str1 = "Windows"  
str2 = "Excel" 
str3 = "Powerpoint" 
str4 = "Word"
print(len(str1))
print(len(str2))
print(len(str3))
print(len(str4))
print(str1 +" "+ str2 +" "+ str3 +" "+ str4)
print(len(str1 +" "+ str2 +" "+ str3 +" "+ str4))

7
5
10
4
Windows Excel Powerpoint Word
29

In [5]:
# esercizio 6
giorni_anno = 365
ore_giorno = 24
minuti_ore = 60
secondi_minuti = 60
secondi_anno = secondi_minuti * minuti_ore * ore_giorno * giorni_anno
print(secondi_anno)

31536000

In [6]:
# esercizio 7
my_string = "I am studying Python"
print(my_string)

I am studying Python

In [7]:
print(my_string.upper())

I AM STUDYING PYTHON

In [8]:
print(my_string.lower())

i am studying python

In [9]:
nuovo = my_string.replace("Python","A lot")
print(nuovo)

I am studying A lot

In [10]:
print(nuovo.strip())

I am studying A lot

In [11]:
print(nuovo.split())

['I', 'am', 'studying', 'A', 'lot']

In [24]:
# esercizio 8
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]

print(studenti[4], "segue", corsi[1])
print(studenti[5], "segue", corsi[2])
print(studenti[6], "segue", corsi[3])
print(studenti[7], "segue", corsi[0])

corsi.append("Excel")
corsi.append("SQL")
print(corsi)
print(studenti[0], "segue", corsi[6])
print(studenti[1], "segue", corsi[7])

print(studenti[4], "segue", corsi[1])
print(studenti[5], "segue", corsi[2])
print(studenti[6], "segue", corsi[3])
print(studenti[7], "segue", corsi[0])
print(studenti[0], "segue", corsi[6])
print(studenti[1], "segue", corsi[7])

Emma segue Data Analyst
Faith segue Backend
Grace segue Frontend
Henry segue Cybersecurity
['Cybersecurity', 'Data Analyst', 'Backend', 'Frontend', 'Data Analyst', 'Backend', 'Excel', 'SQL']
Alex segue Excel
Bob segue SQL
Emma segue Data Analyst
Faith segue Backend
Grace segue Frontend
Henry segue Cybersecurity
Alex segue Excel
Bob segue SQL

In [1]:
# acquistare uno snack da un distributore automatico
nome = "Luigi"
azione = "si avvicina alla macchinetta degli snack, e nota che"
contenitore = "ci sono diverse golosità, tra cui le patatine al formaggio e le gocce di cioccolato."
prezzo1 = 1.5
prezzo2 = 2.0
decisione = "Opta per le patatine che costano"
azione2 = "ed inserisce la banconota"
banconota = 5.0
resto = banconota - prezzo2
print(nome + " " + azione + " " + contenitore + " " + decisione + " " + str(prezzo2) + " " + azione2 + " " + str(banconota))
print("A",nome, "vengono restituiti" , float(resto))

Luigi si avvicina alla macchinetta degli snack, e nota che ci sono diverse golosità, tra cui le patatine al formaggio e le gocce di cioccolato. Opta per le patatine che costano 2.0 ed inserisce la banconota 5.0
A Luigi vengono restituiti 3.0